<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create house</title>
</head>
<body>
<form action="#" th:action="@{/house-create}" th:object="${house}" method="post">

    <label for="numberOfFloors">numberOfFloors</label>
    <input type="text" th:field="*{numberOfFloors}" id="numberOfFloors" placeholder="numberOfFloors">

    <label for="numberOfEntrances">numberOfEntrances</label>
    <input type="text" th:field="*{numberOfEntrances}" id="numberOfEntrances" placeholder="numberOfEntrances">

    <label for="material">material</label>
    <input type="text" th:field="*{material}" id="material" placeholder="material">

    <label for="color">color</label>
    <input type="text" th:field="*{color}" id="color" placeholder="color">

    <label for="houseCondition">houseCondition</label>
    <input type="text" th:field="*{houseCondition}" id="houseCondition" placeholder="houseCondition">

    <label for="streetId">streetId</label>
    <input type="text" th:field="*{streetId}" id="streetId" placeholder="streetId">


    <input type="submit" value="Create House">
</form>
</body>
</html>